Repository artavdalyan/dice-roll: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --loglevel=warn

add dice images
  src/assets/dice/dice-1.svg
  src/assets/dice/dice-2.svg
  src/assets/dice/dice-3.svg
  src/assets/dice/dice-4.svg
  src/assets/dice/dice-5.svg
  src/assets/dice/dice-6.svg
Due: none

add dice component
  src/app/dice/dice.component.html
  src/app/dice/dice.component.scss
  src/app/dice/dice.component.ts
  src/app/interfaces/side.ts
Due: eslint --fix, prettier --write, prettier --write --loglevel=warn

add interface side
  src/app/interfaces/side.ts
Due: eslint --fix

rm packages
  package.json
Due: none

add dice box module
  src/app/app-routing.module.ts
Due: eslint --fix

finish dicebox module
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/dice-box/classe/side.ts
  src/app/dice-box/components/dice/dice.component.html
  src/app/dice-box/components/dice/dice.component.scss
  src/app/dice-box/components/dice/dice.component.ts
  src/app/dice-box/components/scale/scale.component.html
  src/app/dice-box/components/scale/scale.component.scss
  src/app/dice-box/components/scale/scale.component.ts
  src/app/dice-box/dice-box.component.html
  src/app/dice-box/dice-box.component.scss
  src/app/dice-box/dice-box.component.ts
  src/app/dice-box/dice-box.module.ts
  src/app/dice/dice.component.ts
  src/app/interfaces/side.ts
  src/styles.scss
Due: eslint --fix, prettier --write, prettier --write --loglevel=warn

fix typo
  src/app/dice-box/classes/side.ts
  src/app/dice-box/components/dice/dice.component.ts
  src/app/dice-box/dice-box.component.ts
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write --loglevel=warn

add screenshot
  README.md
  src/assets/screen.png
Due: prettier --write --loglevel=warn

change 5 to 0
  src/app/dice-box/components/scale/scale.component.ts
Due: eslint --fix

Update dice-box.component.html
  src/app/dice-box/dice-box.component.html
Due: prettier --write --loglevel=warn

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: any of: *.scss
  prettier --write --loglevel=warn: any of: *.{md,component.html}
